:root {
    --app-background-color: white;

    /* Game Board */
    --gameBoard-rim-background-color: #fafafa;
    --gameBoard-outer-box-shadow-color: rgb(0 0 0 / 35%);
    --gameBoard-background-color: white;
    --gameBoard-inner-box-shadow-color: #c3c3c3;
    --gameBoard-tray-box-shadow-color: rgb(0 0 0 / 15%);
    --gameBoard-playArea-background-color: #f4f4f4;
}